<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Readit: Author Detail</title>
  </head>
  <body>
    <h3>{{ author.name }}</h3>
    {% for book in author.books.all %}
     {% if book.review %}
      <div class="book">
        <h3>{{ book.title }}</h3>
          {% if book.is_favourite %} <p class="highlight">favourite</p> {% endif %}
          <p>{{ book.review|linebreaks }}</p>
      </div>
    {% endif %}
  {% endfor %}
  </body>
</html>